*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    overflow: hidden;
}

nav{
    overflow: hidden;
    background-color: yellowgreen;
    margin-top: 10px;
}
 .logo {
    width: 30%;
    float: left;

 }

.logo img {
    width: 30%;
    margin: 10px;
}

.main-manu {
    margin-top: 50px;
    overflow: hidden;
    width: 50%;
    text-align: center;
    float: right;
}

.main-manu li{
    display: inline-block;
    list-style: none;
    margin:10px;
}

.main-manu li a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    
}

.banner {
    background-image: url(./assets/img/Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    overflow: hidden;
    width: 100%;
}

.banner-area {
    text-align: center;
    width: 50%;
    margin: 50px auto;
}
.banner-area h2 {
    text-transform: capitalize;
    padding-top: 100px;
    color: white;
    font-size: 50px;
}

.banner-area p {
    padding: 28px;
    color: white;
    font-size: 20px;
}

.banner-area a{
    color: white;
    font-size: 20px;
}

.ban-btn {
    background-color: #054203;
    color: #f5deb3;
    padding: 15px 20px;
    border: 2px solid #ff0000;
    border-radius: 28px;
    text-decoration: none;
    font-size: 18px;
}
.about{
    overflow: hidden;
    background-color: gold;
}

.content-area {
    width: 80%;
    float: left;
    background-color: #F9E2AF;
    overflow: hidden;
}

.about-img {
    float: left;
    width: 50%;
    overflow: hidden;
}

.about-img img {
    width: 100%;
}

.about-content {
    float: left;
    width: 50%;
    overflow: hidden;
    
}

.about-content h2 {
    margin: 5px;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.about-content p {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

.services{
    overflow: hidden;
    background-color: rgb(250, 71, 95);
}

.services h2{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    text-decoration: underline;
}

.service-item {
    text-align: center;
    margin: 10px;
    width: 23%;
    float: left;
    overflow: hidden;
}

.blogs {
    overflow: hidden;
}
.blogs h3{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    text-decoration: underline;
}

.blog {
    text-align: center;
    width: 30%;
    float: left;
    overflow: hidden;
}

.sideber {
    width: 20%;
    min-height: 727px;
    float: right;
    overflow: hidden;
    background-color: #009FBD;
}

.side-item ul li {
    text-align: center;
    padding-top: 30px;
}

.footer {
    width: 100%;
    height: 100px;
    padding-top: 42px;
    overflow: hidden;
    background-color: #a38ece;
}
.widget {
    margin-top:;
    display: inline;
    padding: 175px;
}
.footer h3{
    display: inline-block;
}
.copyright {
    width: 70%;
    text-align: center;
    margin: 15px auto;
}

.copyright span {
    text-transform: uppercase;
    font-size: 35px;
    color: #77037B;
}

